body {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}


.box {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}


.player {
  width: 0;
  height: 0;
  border-style: solid;
  margin: 20px;
}
.player--right{
  border-width: 15px 0 15px 35px; /* right */ 
  border-color: transparent transparent transparent blue;
}

.player--down {
  border-width: 35px 15px 0 15px; /* down */
  border-color: blue transparent transparent transparent;
}

.player--left{
  border-width: 15px 35px 15px 0; /* left */
  border-color: transparent blue transparent transparent;
}

.player--up{
  border-width: 0 15px 35px 15px; /* up */
  border-color: transparent transparent blue transparent;

}



.targetCell {
  background-color: green;
}
